/* Coolors Exported Palette - coolors.co/c8daa2-87a211-0a080a-cdcbcd-5c5a5c */

/* HSL */
$color1: hsla(79%, 43%, 75%, 1);
$color2: hsla(71%, 81%, 35%, 1);
$color3: hsla(300%, 11%, 4%, 1);
$color4: hsla(300%, 2%, 80%, 1);
$color5: hsla(300%, 1%, 36%, 1);

/* RGB */
$color1: rgba(200, 218, 162, 1);
$color2: rgba(135, 162, 17, 1);
$color3: rgba(10, 8, 10, 1);
$color4: rgba(205, 203, 205, 1);
$color5: rgba(92, 90, 92, 1);