# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Dreamweaver
# ===========
*_notes/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak